<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    Id="1"
    photoCover="https://lojabagaggio.vteximg.com.br/arquivos/ids/2300951/BANNER_CATEGORIA_-_MOB_-_MARVEL.png?v=637447865676700000"
    cardTitle="GUSTAVO, É SUA HORA"
    cardDescription="Depois de tantos caminhos errados, finalmente chegou o rumo que você precisa seguir"
    >
    </app-big-card>



  </div>

  <div class="articles__others">
    <app-small-card
    Id="2"
    cardTitle="Certificados de Angular"
    photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKBPWYRNw9-taDJlMuQ2frswtKpTAFEBvqtQ&usqp=CAU"
    ></app-small-card>

    <app-small-card
    Id="3"
    cardTitle="Certificados de Javascript"
    photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKBPWYRNw9-taDJlMuQ2frswtKpTAFEBvqtQ&usqp=CAU"
    ></app-small-card>

    <app-small-card
    Id="4"
    cardTitle="Certificados de HTML"
    photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKBPWYRNw9-taDJlMuQ2frswtKpTAFEBvqtQ&usqp=CAU"
    ></app-small-card>
  </div>
</div>
